<form (submit)="login($event)">
  <div class="login-wrapper">
    <div>
      <mat-form-field>
        <label for="username">Username</label>
        <input matInput id="username" type="text" name="username" [(ngModel)]="model.username" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <label for="password">Password</label>
        <input matInput id="password" type="password" name="password" [(ngModel)]="model.password" required />
      </mat-form-field>
    </div>
    <div class="text-right">
      <button mat-button>Login</button>
    </div>
  </div>
</form>
<h1>{{test.success}}</h1>
