/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


* {
	box-sizing: border-box;
	color: $lightTextColor;
}

body {
	background-color: $bgColor;
	height: 100vh; // browsers default to 16px for font-size,
	// so setting top-level font-size to 62.5%
	// scales 1rem to equal 10px.
	font: 100% 'Roboto', sans-serif;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
